<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es">
    <head>
        <title>LC-Categorias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/estilos.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="../../home.html">Home</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./categorias.html">Categorias</a></li>
                </ul>

            </nav>
        </header>
        <div class="cont_form">
            <form method="POST" id="form_catg" action="">
                <label for="nombre_cat">Nombre de la categoria </label> 
                <input id="nombre_cat" type="text" name="nombre_cat" class="input_text" placeholder="Categoria" >
                <div class="cont_boton">

                    <button type="submit" class="btn_guardar">Guardar</button>
                    <button type="button" class="btn_cancelar">Cancelar </button> 

                </div>
            </form>
            <h3 class="yo">Manuel Achaval</h3>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
        <script src="../../assets/js/validaciones.js"></script> 
    </body>
</html>
